.background {.
  opacity: .5;
}
body {

}

h1 {
  font-size: 75px;
  color: 	#009999;
  text-align: center;
  padding: 10px;
  margin: 20px, 0px, 0px, 0px;
  font-family: Arial Black;
  text-decoration: underline;
  f
}
h2 {
  /*background-color: #ff7b16;*/
  color: #ff7b16;
  font-size:30px;
  text-align: center;
  padding: 10px;
  letter-spacing: .5em;
}
h2 {
  font-family: Impact;
}
p {
  width: 300px 0px;
  padding: 30px 10px;
  font: Arial;
  margin: 60px auto;
  background-color: #ff7b16;
  text-align: center;
  font-family: Arial Black;
  }
  #qe, #qo {
    letter-spacing: .3em;
    color: white;
    font-size: 40px;
    text-transform:uppercase;

  }

  #qo {
    background-color: #009999;
  }
  #q2 {
    padding: 35px;
    margin: 40px;
  }
  #q3 {
    padding: 40px;
  }
  #q4 {
    padding: 45px;
    margin: 40px;
  }
  #q5 {
    padding: 30pxmm ;
  }
  #footer {
    font-family: Impact;
    font-size: 30px;
    letter-spacing: .5em;
  }
  .inspiration, #q5 {
    text-decoration: underline;
    text-align: left;
  }
